<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/public/styles/post.css">
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <div class="container">
            <h1><%= post.title %></h1>
            <p class="info">
                <span>By:</span> 
                <span><%=post.auther.name%></span>
                <br>
                <span>At:</span>
                <time datetime=<%=post.date.toISOString()%>>
                <%=post.date.toLocaleTimeString("en-UK",{
                    weekday: "long",
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                    hour12:false
                })%>
                </time>
            </p>
            <h3>Summary:</h3>
            <p class="summary">
                
                <%=post.summary %>
            </p>
            <h3>Content:</h3>
            <p class="content">
                
                <%= post.content %>
            </p>
    </div>
    </main>
</body>
</html>